<a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{resourceId}}">{{title}}</a><br/><i>{{journal}}</i> {{year}}-{{month}}
{{#each authors}}
    <span style="white-space:nowrap;margin-left:1rem;">{{this}}</span>
{{/each}}
