<table class="table table-condensed table-striped" id="tableCpicAlleles">
    <caption>There is also a <a href="https://api.cpicpgx.org/data/cpic.alleles.csv">CSV version of this table</a> for download.</caption>
    <thead>
    <tr>
        <th></th>
        <th>Allele</th>
        <th>Gene</th>
        <th>Guideline</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td style="text-align:right;padding-right:1em;">{{position}}</td>
            <td>{{#if allele.symbol}}
                {{allele.symbol}}
            {{else}}
                {{allele.gene.symbol}} {{allele.name}}
            {{/if}}</td>
            <td>{{allele.gene.symbol}}</td>
            <td><ul class="list-unstyled">
                {{#each guidelines}}
                    <li>
                        <a href="{{url}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul></td>
        </tr>
    {{/each}}
    </tbody>
</table>
