<table class="table table-striped" id="tableCpicPairs">
  <caption style="caption-side: top">
      <a href="https://api.cpicpgx.org/data/cpicPairs.csv">Download this table (CSV)</a>
      &dash;
      Last modified: {{lastUpdated}}
  </caption>
  <thead>
  <tr>
    <th># <small>(n={{countGuidelines}})</small></th>
    <th>Gene<br/><small style="white-space: nowrap;">(unique = {{countGenes}})</small></th>
    <th>Drug<br/><small style="white-space: nowrap;">(unique = {{countDrugs}})</small></th>
    <th>Guideline</th>
    <th>
      CPIC <span style="white-space: nowrap;">Level</span>
    </th>
    <th>
      PharmGKB Level of <span style="white-space: nowrap;">Evidence
      <a style="text-decoration: none;" href="https://www.pharmgkb.org/page/clinAnnLevels"><i class="icon-question-sign"></i></a></span>
    </th>
    <th>
      PGx on FDA <span style="white-space: nowrap;">Label <a style="text-decoration: none;" href="https://www.pharmgkb.org/page/drugLabelLegend#PGxLevel"><i class="icon-question-sign"></i></a></span>
    </th>
    <th>CPIC Publications (PMID)</th>
  </tr>
  </thead>

  <tbody>
  {{#if pairs}}
  {{#each pairs}}
  <tr id="dosingguideline-{{guidelineId}}">
    {{!id}}
    <td>
      {{position}}
    </td>

    {{!gene}}
    <td>
      {{gene.name}}
    </td>

    {{!drug}}
    <td>
      {{chemical.name}}
    </td>

    {{!guideline}}
    <td>
      {{#if url}}<a href="{{url}}">Guideline</a>{{/if}}
    </td>

    {{!cpic level}}
    <td>
      {{cpicLevel}}
    </td>

    {{!PGKB LoE}}
    <td>
      {{pgkbLevel}}
      {{{cpicNote}}}
    </td>

    {{!FDA Label PGx}}
    <td>
      {{#if label.id}}{{label.name}}{{/if}}
    </td>

    {{!PMIDs}}
    <td>
      <ul class="unstyled">
        {{#each pmids}}<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{this}}">{{this}}</a></li>{{/each}}
      </ul>
    </td>
  </tr>
  {{/each}}
  {{/if}}
  </tbody>

</table>